body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
div {
    padding: auto;

}

*  {
    color: red;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.canvascontainer {
    width: 80vh;
    height: 80vh;
    display: flex;
    justify-content: center;
    
}
.rowcontainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: auto;
    
}

.rowitem {
    /*flex 1 makes it so that the boxes spread to fill their entire container*/ 
    background-color: brown;
    aspect-ratio: 1/1;
    width: auto;
    height: auto;

}

.adjustcanvas {
    color: blue;
    padding: 1vw;
    margin: 2vw;
    align-items: center;
}